<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

<!--Cadena de Conexion--> 
  <!--<connectionStrings>
    <add name="strConnection" connectionString="Server=(local);Integrated Security=true; Database=DB_FERRETERIA"/>
  </connectionStrings>-->

 <appSettings>
    <!--<add key="strConnectionWeb" value="Data Source=tcp:192.168.0.10,49172;Initial Catalog=CSL_CafeMonteVer; USER=sa; PASSWORD=123456; Timeout=0;"/>-->
    <!--<add key="strConnection" value="Data Source=DESKTOP-CMMP0QN;Initial Catalog=CSL_CafeMonteVer; Integrated Security=true;"/>-->
    <add key="strConnection" value="Data Source=(local);Initial Catalog=DB_FERRETERIA; Integrated Security=true;"/>


  </appSettings>

</configuration>